:root {
  --bg: #ebeade;
  --fg: #063363;
  --fg2: #637481;
  --link: #b1004d;
  --bc: #00000022;
  --shadow: #00000033;
  --width: 60rem;
  --maxwidth: calc(100% - 4rem);
  --pwidth: 36rem;
  @media (max-width: 50rem) {
    --maxwidth: calc(100% - 3rem);
  }

  // dark
  // --fg: #e4ddc2;
  // --bg: #252322;
  
  --bg2: color-mix(in srgb, var(--bg) 90%, #000);
  --bg3: color-mix(in srgb, var(--bg) 75%, #000);
  
}

.theme {
  --fg: #EBE8D2;
  --fg2: #EBE8D299;
  --link: #fffcab;
  --bc: #00000022;
  --shadow: #00000033;
  --bg2: color-mix(in srgb, var(--bg) 90%, #000);
  --bg3: color-mix(in srgb, var(--bg) 75%, #000);
  &.theme-1 {
    --bg: #653a21;
  }
  color: var(--fg);
  
  &.theme {
    --bg: #653a21;
  }
  // blueish
  &.theme-1 { --bg: #653a21; }

  // medical dark blue
  &.theme-2 { --bg: #425363; }
  // &.theme-2 { --bg: #252e36; }
  
  // pink
  &.theme-3 {--bg: #904c4c; }
  
  // purple
  &.theme-5 { --bg: #534152; }

  // forestgreen
  &.theme-6 { --bg: #4c5341; }
  
  // breen
  &.theme-9 { --bg: #64624e; }

  // dark
  &.theme-7 { --bg: #211d1b; }
 
  // inverse
  &.theme-8 { 
    --bg: #d8ccc6;
    --fg: #27395d;
    --fg2: #586881;
  }
  &.themelanding {
    --bg: #00f;
  }
}

 
